<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrx.aop.dao.SysLogDao">

    <select id="selectlog" resultType="com.mrx.aop.domain.SysLog" parameterType="integer">
        select * from sys_log where id=#{id}
    </select>

    <insert id="saveSysLog" parameterType="com.mrx.aop.domain.SysLog">
       insert into sys_log
       (id,username,operation,time,method,params,ip,create_time)
        values
        (#{id,jdbcType=INTEGER},
        #{username,jdbcType=VARCHAR},
        #{operation,jdbcType=VARCHAR},
        #{time,jdbcType=INTEGER},
        #{method,jdbcType=VARCHAR},
        #{params,jdbcType=VARCHAR},
        #{ip,jdbcType=VARCHAR},
        #{createTime})
    </insert>


</mapper>